.roll-container {
    overflow: hidden;
}
.roll-inner{
    overflow: hidden;
}
.roll-item {
    position: relative;
}

.roll-item:first-child {
    -webkit-animation-name:roll;
    -webkit-animation-duration:30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-name:roll;
    -moz-animation-duration:30s;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode:forwards;
    animation-name:roll;
    animation-duration:30s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;    
}
.roll-container:hover .roll-item {
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}
@-webkit-keyframes roll {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes roll {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes roll {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100%;
    }
}